@font-face {
  font-family: 'Digital 7';
  src: url('../public/assets/digital-7.ttf') format(truetype);
}

thead {
  font-family: 'Digital 7', Arial, Helvetica, sans-serif;
}

td {
  width: 64px;
  height: 64px;
  text-align: center;
  background-color: dimgray;
}

#dsply {
  max-width: 262px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  padding-right: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: orange;
  background-color: black;
}

#display {
  max-width: 262px;
  height: 32px;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  padding-right: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: white;
  background-color: black;
}

@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

tbody {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 20px;
}

tbody td:hover {
  color: black;
  outline: 2px solid #989898;
}

#clear {
  background-color: #C04000;
}

#divide,
#multiply,
#subtract,
#add {
  background-color: gray;
}

#equals {
  background-color: #336699;
}
