@font-face {
  font-family: 'Digital 7';
  src: url('../public/assets/fonts/digital-7.ttf') format(truetype);
}

thead {
  font-family: 'Digital 7', Arial, Helvetica, sans-serif;
}

td {
  width: 64px;
  height: 64px;
  text-align: center;
  background-color: dimgray;
}

#dsply {
  max-width: 262px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  padding-right: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: orange;
  background-color: black;
}

#display {
  max-width: 262px;
  height: 32px;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  padding-right: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: white;
  background-color: black;
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/ShareTechMono-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

tbody {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 20px;
  user-select: none;
}

tbody td:hover {
  color: black;
  outline: 2px solid #989898;
}

#clear {
  background-color: #C04000;
}

#divide,
#multiply,
#subtract,
#add {
  background-color: gray;
}

#equals {
  background-color: #336699;
}
