* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3366cc;
}

#calculator {
  width: 266px;
  height: 392px;
  margin: max(calc(50vh - 196px), 0px) auto 0;
  background-color: black;
}
